
@{
    ViewBag.Title = "NoOrderId";
}

<body style="margin-top: 10%; background-color: black;">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<center>
    <h2 style="color: red">Error 191!!!</h2>
    <h3 style="color: red">Someting Error. Plese call 191.</h3>
    <img src="http://deslogepd.org/images/personnel/DeslogePoliceDepartment.jpg"/>
    <br/>
    <br/>
    <a href="@Url.Action("Index", "Home")">
        <button class="btn btn-danger">~~~ Go Home!!! ~~~</button>
    </a>
</center>
</body>
